/* GENERAL */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  color: #57585c;
  background-color: #fff;
  overflow-x: hidden;
}

/* MENU */

nav {
  z-index: 1000;
  background-color: rgb(236, 240, 241);
  width: 100vw;
}

/* logo */

#logo h1 {
  font-size: 1em;
  font-weight: 700;
  color: #2c3e50;
}

/* items */

.btn:focus,
.btn-outline-primary:focus,
.btn-outline-secondary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-outline-primary,
.btn-outline-primary:active {
  background-color: transparent;
  border: transparent solid 1px;
  color: #2c3e50;
  border-radius: 0px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  outline: #33cccc;
  background-color: transparent;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #33cccc;
  border-color: #33cccc;
}

.active a {
  color: #33cccc;
  border-color: #33cccc;
}

/* bars */

.navbar-toggler,
.navbar-toggler:focus {
  border-color: transparent;
  outline: none;
  color: #2c3e50;
}

/* SPLIT */

#side-left {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#side-right {
  width: 50vw;
  height: 100vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#infoDeveloper {
  width: 50vw;
  min-height: 100vh;
  display: none;
}

#infoDesign {
  width: 50vw;
  min-height: 100vh;
  right: 0;
  display: none;
}

.open-design {
  overflow-x: hidden;
}

.open-design #side-left {
  position: fixed;
  width: 33.3vw;
}

.open-design #side-right {
  -webkit-transform: translateX(50vw);
  -ms-transform: translateX(50vw);
  transform: translateX(50vw)
}

.open-design #infoDesign {
  display: block;
  width: 66.6vw;
}

.open-developer #side-right {
  position: fixed;
  width: 33.3vw;
}

.open-developer #side-left {
  -webkit-transform: translateX(-50vw);
  -ms-transform: translateX(-50vw);
  transform: translateX(-50vw)
}

.open-developer #infoDesign {
  display: none;
}

.open-developer #infoDeveloper {
  display: block;
  width: 66.6vw;
}

@media (max-width: 768px) {
  #side-left {
    width: 100vw;
    height: 50vh;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  #side-right {
    width: 100vw;
    height: 50vh;
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .open-design #side-left {
    position: absolute;
    width: 100vw;
  }
  .open-design #side-right {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  .open-design #infoDeveloper {
    display: none;
  }
  .open-design #infoDesign {
    width: 100vw;
    position: absolute;
    top: 50vh;
  }
  .open-developer #infoDesign {
    display: none;
  }
  .open-developer #infoDeveloper {
    position: absolute;
    width: 100vw;
    top: 50vh;
  }
  .open-developer #side-left {
    -webkit-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    transform: translateY(-50vh);
  }
  .open-developer #side-right {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    -webkit-transform: translateY(-50vh);
    -ms-transform: translateY(-50vh);
    transform: translateY(-50vh);
    /* top: 0; */
    width: 100vw;
  }
}

h2 {
  color: white;
  padding: 6vw;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: transparent;
  text-align: center;
}

.more {
  margin-top: 1.5vh;
  border: #33cccc solid 1px;
  color: #33cccc;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
}

.more:hover {
  text-decoration: none;
  color: #33cccc;
}

.side-left {
  background-image: url(../img/designer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.side-right {
  background-image: url(../img/developer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.4em;
  }
  .more {
    text-decoration: none;
    margin-top: 1.5vh;
    border: transparent solid 1px;
    color: transparent;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .side:hover .more,
  .proyectos:hover .more {
    border: #33cccc solid 1px;
    color: #33cccc;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 999;
  }
}

.lineButton {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
}

span {
  display: block;
}

.lineButton::before,
.lineButton::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

.side:hover .lineButton::before,
.side:hover .lineButton::after,
.proyectos:hover .lineButton::before,
.proyectos:hover .lineButton::after {
  width: 100%;
}

.side:hover .lineButton span::before,
.side:hover .lineButton span::after,
.proyectos:hover .lineButton span::before,
.proyectos:hover .lineButton span::after {
  height: 100%;
}

/*----- button 1 -----*/

.lineButton::before,
.lineButton::after {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.lineButton span::before,
.lineButton span::after {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.lineButton::before {
  right: 0;
  top: 0;
}

.lineButton::after {
  left: 0;
  bottom: 0;
}

.lineButton span::before {
  left: 0;
  top: 0;
}

.lineButton span::after {
  right: 0;
  bottom: 0;
}

.side:hover .lineButton::before,
.side:hover .lineButton::after,
.proyectos:hover .lineButton::before,
.proyectos:hover .lineButton::after,
  {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.side:hover .lineButton span::before,
.side:hover .lineButton span::after,
.proyectos:hover .lineButton span::before,
.proyectos:hover .lineButton span::after {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* DISEÑADOR WEB */

#designer {
  overflow-x: hidden;
}

#designer iframe {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.content_white {
  background-color: white;
  height: 100vh;
}

.titulo {
  border: solid black 1px;
  display: block;
}

#volverDesign,
#volverDeveloper {
  cursor: pointer;
}

/* PORFOLIO */

.proyectos {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sdimport {
  background-image: url(../img/proyectos/sdimport.jpg);
}

#cinemontevideo {
  background-image: url(../img/proyectos/cinemontevideo.jpg);
}

#uruclima {
  background-image: url(../img/proyectos/uruclima.jpg);
}

#morat {
  background-image: url(../img/proyectos/morat.jpg);
}

#gopro {
  background-image: url(../img/proyectos/gopro.jpg);
}

#changeled {
  background-image: url(../img/proyectos/changeled.jpg);
}

#dreamsinmobiliaria {
  background-image: url(../img/proyectos/dreamsinmobiliaria.jpg);
}

#museodelautomovil {
  background-image: url(../img/proyectos/museodelautomovil.jpg);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#33cccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#33cccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.img-proyecto {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .img-proyecto {
    height: auto;
    min-height: 100vh;
  }
}

.btn-site {
  border: #33cccc solid 1px;
  color: #33cccc;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.btn-site:hover {
  border: #33cccc solid 1px;
  background-color: #33cccc;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.link a {
  color: #33cccc;
}

.link a:hover {
  color: #33cccc;
  text-decoration: none;
}

/* SOBRE MI */

#profile {
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

@media (min-width: 768px) {
  #profile {
    height: auto;
    height: 100vh;
  }
}

/* CONTACTO */

#contact {
  background-image: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

@media (min-width: 768px) {
  #contact {
    min-height: 100vh;
    height: auto;
  }
}

.btn-outline-secondary {
  color: #33cccc;
  background-color: transparent;
  background-image: none;
  border-color: #33cccc;
  border-radius: 0;
}

.btn-outline-secondary:hover {
  color: #ecf0f1;
  background-color: #33cccc;
  background-image: none;
  border-color: #33cccc;
}

/* LOADER */

#loader {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f1;
}

.square-spin>div {
  background-color: #33cccc;
}

#loader-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3vw;
  height: 3vw;
  transform: translate(-3vw, -3vw);
}